@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Tenso;
        font-style: italic;
        font-weight: 900;
        src: url(../fonts/tenso/Tenso-Black Italic.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: normal;
        font-weight: 900;
        src: url(../fonts/tenso/Tenso-Black.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: italic;
        font-weight: 700;
        src: url(../fonts/tenso/Tenso-Bold Italic.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: normal;
        font-weight: 700;
        src: url(../fonts/tenso/Tenso-Bold.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: italic;
        font-weight: 500;
        src: url(../fonts/tenso/Tenso-Medium Italic.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: normal;
        font-weight: 500;
        src: url(../fonts/tenso/Tenso-Medium.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: italic;
        font-weight: 400;
        src: url(../fonts/tenso/Tenso-Italic.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/tenso/Tenso-Regular.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: italic;
        font-weight: 300;
        src: url(../fonts/tenso/Tenso-Light Italic.otf) format('opentype');
    }

    @font-face {
        font-family: Tenso;
        font-style: normal;
        font-weight: 300;
        src: url(../fonts/tenso/Tenso-Light.otf) format('opentype');
    }

    body {
        font-family: Tenso;
        @apply pb-5;
    }

    h1 {
        @apply text-3xl text-2 my-5 font-black;
    }

    h2 {
        @apply text-2xl text-2 my-4 font-bold;
    }

    h3 {
        @apply text-xl text-2 my-3 underline;
    }

    a {
        @apply hover:underline text-5 font-medium;
    }

    blockquote {
        @apply pl-5 border-l-4 border-5 shadow;
    }

    blockquote a {
        @apply hover:no-underline text-black font-normal;
    }

    p {
        @apply my-3;
    }

    strong {
        @apply text-5;
    }

    em {
        @apply text-1;
    }

    hr {
        @apply mt-5;
    }

    img {
        height: inherit;
        @apply rounded;
    }

    pre {
        @apply my-5 p-2 border-t-4 border-5 overflow-auto bg-black text-white rounded;
    }

    .app-link {
        @apply relative inline-block;
    }

    .app-text {
        @apply transition duration-500 opacity-0 group-hover:opacity-100 absolute h-full w-full bg-1 bg-opacity-90 text-white flex items-center justify-center rounded;
    }

    .app-img {
        @apply rounded border-2 shadow;
    }
}
